{% extends 'base_template.html' %}

{%block navimenu%}
<li><a href="{% url 'recepientsapp:recepients' %}">Адресная книга</a></li>
<li class="active">{{ title }}</li>
{%endblock%}

{% block header %}
    <h2 style="margin-left: 20px;">{{ title }} </h2>
{% endblock%}

{% block body %}


<form class = "col-md-5" method="post">
  <div class="form-group">
    <label for="label">{{ form.title.label }}</label>
    <input type="text" class="form-control" id="{{ form.title.html_name }}" value="{{ form.title.value }}" maxlength="100" name="{{ form.title.html_name }}">
    {{ form.title.errors }}
  </div>
  <div class="form-group">
    <label for="label">{{ form.address.label }}</label>
    <input type="text" class="form-control" id="id_{{ form.address.html_name }}" value="{{ form.address.value }}" maxlength="100" name="{{ form.address.html_name }}">
    {{ form.address.errors }}
  </div>
    <div class="form-group">
    <label for="label">{{ form.postcode.label }}</label>
    <input type="text" class="form-control" id="id_{{ form.postcode.html_name }}" value="{{ form.postcode.value }}" maxlength="100" name="{{ form.postcode.html_name }}">
      {{ form.postcode.errors }}
  </div>
  <button type="submit" class="btn btn-default">ИЗМЕНИТЬ</button>
</form>


{% endblock%}
