{% extends 'base_template.html' %}
{% load static %}
{%block head%}
<link rel="stylesheet" type="text/css" href={% static "recepients/css/jquery.dataTables.min.css"%}>
{%endblock%}

{%block navimenu%}
<li><a href="#">Адресная книга</a></li>
<li class="active">Физические лица</li>
{%endblock%}

{%block header%}
<h2 style="margin-left: 20px;">Адресаты</h2>
{%endblock%}

{%block body%}
<div style="margin-left: 20px; margin-right: 20px;">
    <table id="example" class="display" style="width:100;">
            <thead>
                <tr>
                    <th>-</th>
                    <th>ФИО</th>
                    <th>Адрес</th>
                    <th>Индекс</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                  {% for recepient in recepients_list %}
                <tr>
                    <td>{{ recepient.pk }}</td>
                    <td><a href="recepient/{{ recepient.pk }}/">{{ recepient.lastname }} {{ recepient.name }} {{ recepient.patronymic }} {{ recepient.title }}</a></td>
                    <td>{{ recepient.address }}</td>
                    <td>{{ recepient.index }}</td>
                    <td>{{ recepient.pub_date }}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Печать
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><a href="#">C5</a></li>
                          <li><a href="#">C4</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>


                  {% endfor %}
            </tbody>
        </table>
</div>
{%endblock%}

{%block scripts%}
<script src={% static "recepients/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" language="javascript" src={% static "recepients/js/jquery.dataTables.min.js"%} ></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
{%endblock%}
