{% extends 'base_template.html' %}
{% load static %}
{%block head%}
<link rel="stylesheet" type="text/css" href={% static "recepients/css/jquery.dataTables.min.css"%}>
{%endblock%}

{%block navimenu%}
<li><a href="">Реестры</a></li>
<li class="active">Все реестры</li>
{%endblock%}

{%block header%}
<h2 style="margin-left: 20px;">Реестры</h2>
{%endblock%}

{%block body%}
<div class = "col-md-12">
    <table id="example" class="display" style="width:100;">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Дата</th>
                    <th>Тип</th>
                    <th>Тип РПО</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                  {% for registry in registry_list %}
                <tr>
                    <td>{{ registry.pk }}</td>
                    <td><a href="{% url 'recepientsapp:registry_detail' registry.pk %}">Реестр #{{ registry.pk }} </a></td>
                    <td>{{ registry.date }}</td>
                    <td>{{ registry.type }}</td>
                    <td>{{ registry.rpo_type }}</td>
                    <td>
                        <form action="{% url 'recepientsapp:registry_delete' registry.pk %}" method="post">
                            <button type="submit">удалить</button>
                            <button type="submit" form="print_form{{ registry.pk }}">Печать</button>
                        </form>
                        <form action="{% url 'recepientsapp:registry_print' %}" method="get" id="print_form{{ registry.pk }}">
                            <input type="text" name="registry" value="{{ registry.pk }}"  hidden="true">
                            <p></p>
                        </form>
                    </td>

                  </tr>


                  {% endfor %}
            </tbody>
        </table>
</div>
{%endblock%}

{%block scripts%}
<script src={% static "recepients/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" language="javascript" src={% static "recepients/js/jquery.dataTables.min.js"%} ></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
    'order': [],
    language: {
      processing:     "Traitement en cours...",
      search:         "Фильтр",
      lengthMenu:    "Показать _MENU_ элементов",
      info:           "Показано _START_ из _END_ из _TOTAL_ элементов",
      infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
      infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
      infoPostFix:    "",
      loadingRecords: "Chargement en cours...",
      zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
      emptyTable:     "Aucune donnée disponible dans le tableau",
      paginate: {
            first:      "Первый",
            previous:   "Предыдущий",
            next:       "Следующий",
            last:       "Последний"
        },
    }
});
} );
</script>
{%endblock%}
