{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Печать конветов</title>
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    {%block head%}
    {%endblock%}
  </head>
  <body>

    <nav class="navbar navbar-inverse" style="margin-bottom: 0px; border-radius: 0px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PrintEnv</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Адресная книга<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ><a href="{% url 'recepientsapp:recepients' %}">Все адресаты</a></li>
              <li ><a href="{% url 'recepientsapp:recepient_add' %}">Добавить адресата</a></li>
            </ul>

          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Конверты<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'recepientsapp:envelops' %}">Все конверты</a></li>
              <li><a href="#">Создать новый</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Реестры<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Отправленные</a></li>
            </ul>
        </ul>
      </div>
    </nav>

    <ol class="breadcrumb">
      {%block navimenu%}
      {%endblock%}
    </ol>

    {%block header%}
    {%endblock%}


    {%block body%}
    {%endblock%}


    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
    {%block scripts%}
    {%endblock%}
  </body>
</html>
